form.form-test {
    width: 100%;
}

form.form-test input {
    width: 100%;
    margin-bottom: 1em;
}

form.form-test label {
    font-weight: bold;
}

.form-test-view {
    padding: 0 1em 1em;
    margin: 1em 1em 1em 0;
}

.form-test-entry {
    display: flex;
    margin-bottom:  0.5em;
}

.form-test-entry label {
    font-weight: bold;
    display: inline-block;
    width: 20%;
}

span.form-test-entry-value {
    display: inline-block;
    width:  75%;
}

a.form-test-entry-page {
    padding: 0.5em;
}

a.form-test-entry-page.active {
    border: 1px solid #888;
    padding: 2px 5px;
    font-weight: 800;
    font-size: 1.5em;
}

.form-test-paging {
    margin: 1em 5em 0 0;
    text-align: right;
}

.form-test-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.loader,
.loader:before,
.loader:after {
    background: #121212;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    position: relative;
    color: #121212;
    text-indent: -9999em;
    margin: 25% auto;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
